<div id="content">
    <div class="content-inner">
        <div id="crumbs">
            <strong>您的位置：</strong>
            <ol class="crumbs">
                <li><a [routerLink]="['/center']" routerLinkActive="active">个人中心</a></li>
                <li class="current">></li>
                <li><a [routerLink]="['/center/company']" routerLinkActive="active">我的公司</a></li>
                <li class="current">></li>
                <li class="current">套餐管理</li>
            </ol>
            <span class="cart-tip">帮您完成商品管理，上传更便捷，更简单！
                <!--<a href="//service.taobao.com/support/help-11746.htm?spm=a1z0d.1.0.0.ogEwpx" target="_blank" data-spm-anchor-id="a1z0d.1.0.0">如何使用购物车</a>-->
            </span>
        </div>
        <div class="W_tips tips_warn clearfix">
            <p class="txt">商品必須包含至少一個套餐才可上架，創建和更新商品都必須經歷審核。</p>
            <!-- <a class="form_help" href="http://help.weibo.com/faq/q/225" target="_blank">帮助</a></p> -->
        </div>
        <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" style="float:left; font-size: 12px;" placeholder="搜索">
        </div>
        <p-dataTable [value]="rows" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [rows]="15" [globalFilter]="gb">
            <header>套餐管理</header>
            <p-column field="name" header="套餐名" [sortable]="true"></p-column>
            <p-column field="gender" header="搭配商品" [sortable]="true"></p-column>
            <p-column field="company" header="价格" [sortable]="true"></p-column>
            <p-column field="gender" header="当前状态" [sortable]="true"></p-column>
            <p-column styleClass="col-button">
                <template pTemplate type="header">
                    <div class="col-act">操作</div>
                </template>
                <template let-car="rowData" pTemplate type="body">
                    <a class="col-edit" (click)="selectCar(car)">编辑套餐</a>
                    <a class="col-delete" (click)="selectCar(car)">下架</a>
                </template>
            </p-column>
        </p-dataTable>
        <ul class="quesa_mod S_line2">
            <li class="question_mod S_txt2" id="question_mod_a"><a class="S_txt2"><span class="icon_ques"></span>商品必須包含至少<span style="color: #dd2727; text-decoration: underline;font-weight: bolder;">一個套餐</span>才可上架，創建和更新商品都必須經歷審核。</a></li>
            <li class="answer_mod S_txt2" id="answer_mod_a"><span class="icon_answ"></span>如果您對商品上傳有任何疑問請咨詢
            <a href="https://security.weibo.com/iforgot/loginname?entry=weibo">幫助中心 </a>的方式来了解。</li>
        </ul>
    </div>
</div>