/**/
#content {
    float: right;
    width: 900px;
    padding: 0 20px 20px;
    min-height: 450px;
    background-color: #f1f2f2;
    border-radius: 4px;
}

.content-inner {
    float: left;
    padding: 20px 0px;
}

#crumbs {
    overflow: hidden;
    zoom: 1;
    color: #000;
    margin: 20px 0 20px 0;
    font-size: 8px;
}

#crumbs a, #empty a {
    color: #36C;
    text-decoration: none;
}

#crumbs strong {
    float: left;
    font-weight: 400;
}

.crumbs {
    float: left;
    margin-left: -5px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.crumbs .current {
    background: 0 0;
}
.crumbs li {
    float: left;
    padding: 0 0 0 5px;
}

#crumbs span.cart-tip {
    float: right;
    color: gray;
}