#sidebar {
    float: left;
    width: 188px;
    border: 1px solid #E0E0E0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 2px 1px #e3e3e3;
    -moz-box-shadow: 1px 1px 2px 1px #e3e3e3;
    box-shadow: 1px 1px 2px 1px #e3e3e3;
}

#sidebar .app-ordered, #sidebar .app-quick-entry {
    height: 42px;
    line-height: 42px;
    width: 186px;
    border-bottom: 1px solid #e0e0e0;
    background: #F5F5F5;
}

#sidebar .app-ordered .entry-wrap, #sidebar .app-quick-entry .entry-wrap {
    position: relative;
    display: block;
    width: 173px;
    height: 42px;
    line-height: 42px;
    padding-left: 8px;
    text-decoration: none;
    text-align: left;
}

#sidebar .app-quick-entry .entry-wrap .title {
    font-size: 14px;
    color: #333;
}

#sidebar .app-list {
    min-height: 200px;
    background: #fff;
}
/*
.profile {
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
}

.profile, .user-menu {
    border-radius: 4px;
}


.profile .user-name {
    width: 100%;
    float: right;
    color: #666;
    padding-top: 10px;
}*/

ol, ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.category {
    display: list-item;
    text-align: left;
    background: #fff;
    width: 158px;
    margin: 0 10px 0 15px;
    padding: 15px 0;
    border-bottom: 1px solid #e1e1e1;
}

.user-menu a {
    color: #333;
    text-decoration: none;
    cursor: auto;
    font-size: 8px;
}

.category-name{
    width: 160px;
    height: 20px;
    line-height: 20px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}


.common-app{
    text-align: -webkit-match-parent;
    display: list-item;
    width: 78px;
    height: 22px;
    line-height: 22px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.btn, .btn:hover, a {
    text-decoration: none;
}

.user-menu .uricon {
    float: right;
    margin-top: 8px;
}

[class*=" uricon-"], [class^=uricon-] {
    display: inline-block;
    font-family: uricon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



