<div id="sidebar">
    <!-- profile -->
   <!--  <div class="profile">
        <div class="profile-inner">
            <div class="user-pic">
                <img src="images/Dragonite.png" alt="" style="width: 60px; height: 60px; ">
            </div>
            <div class="user-name">
                <div class="name">
                    <div>14714303821</div>
                </div>
                <div>普通會員<i class="uricon uricon-badge"></i>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- / profile -->
    <!-- user-menu -->
    <div class="app-quick-entry">
     <span class="entry-wrap">
     <span class="title">我的应用</span>
     </span>
    </div>
    <div class="app-list">
       <ul class="user-menu">
            <li class="category">
                <div class="category-name">账号管理</div>
                <ol class="category-app clearfix">
                    <li class="common-app"><a [routerLink]="['profile']">個人資料</a></li>
                    <li class="common-app"><a [routerLink]="['security']">安全設置</a></li>
                    <li class="common-app"><a [routerLink]="['security']">我的賬戶</a></li>
                </ol>
            </li>
            <li class="category">
                <div class="category-name">交易管理</div>
                <ol class="category-app clearfix">
                    <li class="common-app"><a [routerLink]="['order']">我的订单</a></li>
                </ol>
            </li>
            <li class="category">
                <div class="category-name">消息管理</div>
                <ol class="category-app clearfix">
                    <li class="common-app"><a [routerLink]="['message']">互动消息</a></li>
                    <li class="common-app"><a [routerLink]="['message']">系统消息</a></li>
                </ol>
            </li>
            <li class="category">
                <div class="category-name">我的公司</div>
                <ol class="category-app clearfix">
                    <li class="common-app"><a [routerLink]="['company/profile']">公司资料</a></li>
                    <li class="common-app"><a [routerLink]="['company/products']">商品管理</a></li>
                    <li class="common-app"><a [routerLink]="['company/create_product']">发布商品</a></li>
                    <li class="common-app"><a [routerLink]="['company/plans']">套餐管理</a></li>
                </ol>
            </li>
        </ul>
    </div>
    <!-- / user-menu -->
</div>
<router-outlet></router-outlet>
