<main id="main" class="passport">
    <!-- layout-inner -->
    <div class="layout-inner">
        <div class="passport-wrap">
            <form id="loginForm" action="/user/formlogin" method="post" class="form passport-form" novalidate="novalidate">
                <h2 class="legend">用户登录</h2>
                <div class="note error-text">
                    
                </div>
                <div class="form-item">
                    <div class="form-cont">
                        <input type="text" [(ngModel)]="email" name="mobile" class="txt txt-h-xlarge" placeholder="電郵">
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-cont">
                        <input type="password" [(ngModel)]="pwd"  name="password" class="txt txt-h-xlarge" placeholder="密码">
                    </div>
                </div>
                <!--<div class="form-item form-item-agreement">
                    <div class="form-cont">
                        <label><input name="rememberMe" type="checkbox">记住密码</label>
                    </div>
                </div>-->
                <div class="form-item form-item-submit">
                    <div class="form-cont">
                        <button type="submit" class="btn btn-primary btn-h-large" (click)="login()">登&nbsp;&nbsp;&nbsp;录</button>
                        <div class="link-wrap">
                            <a [routerLink]="['/register']" routerLinkActive="active">注册新用户</a>
                            <a href="/user/forget">忘记密码</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- / layout-inner -->
</main>

<kendo-dialog [title]="alertTitle" *ngIf="opened" (close)="close()">
    <p>{{ alertDetail }}</p>

    <kendo-dialog-actions>
        <button kendoButton (click)="close()" [primary]="true">好</button>
    </kendo-dialog-actions>
</kendo-dialog>