<div id="content">
    <div class="content-inner">
        <div id="crumbs">
            <strong>您的位置：</strong>
            <ol class="crumbs">
                <li><a [routerLink]="['/center']" routerLinkActive="active">个人中心</a></li>
                <li class="current">></li>
                <li><a [routerLink]="['/center/company']" routerLinkActive="active">交易管理</a></li>
                <li class="current">></li>
                <li class="current">我的订单</li>
            </ol>
            <span class="cart-tip">帮您完成商品管理，上传更便捷，更简单！
                <!--<a href="//service.taobao.com/support/help-11746.htm?spm=a1z0d.1.0.0.ogEwpx" target="_blank" data-spm-anchor-id="a1z0d.1.0.0">如何使用购物车</a>-->
            </span>
        </div>
        <md-tab-group class="demo-tab-group">
        <md-tab *ngFor="let tab of tabs; let i = index">
            <template md-tab-label>{{tab.label}}</template>
            <template md-tab-content>
                <div class="order-list" style="">
                    <div class="orders-list-item" (click)='gotoDetail(product)' *ngFor="let product of [1,2,3,4,5,6,7,8]">
                        <!--<a class="cbp-vm-image" [routerLink]="['/products/1']" routerLinkActive="active">-->
                        <div class="product-image">
                            <!--<img *ngIf='product.product_images.length>0' [src]="products[0].product_images[0].image_medium_url"  style=""  alt=""/>-->
                            <img src="/assets/images/product_sample.png"  style=""  alt=""/>
                            <div class="product_container" style="background-color:white;">
                                <div class="product-name">企業網站建設</div>
                                <div class="product-category">網站建設</div>
                                <div class="product-like"><span style="color:red">554</span>人氣</div>
                                <div class="cbp-vm-details">
                                    在互聯網中建設自己的網站，從而領軍行業，成為第一家征戰互聯網的企業...
                                </div>
                                <div class="product-company">创派科技有限公司</div>
                                <div class="product-price"><span style="color:red">￥2000</span></div>
                                <div class="order-detail">

                                    <div class="order-category">選擇：<span style="color:green">套餐一</span></div>
                                    <div class="order-title">付款方式：</div>
                                    <div class="order-label">預付款<span style="color:red">￥2000</span></div>

                                    <div class="order-title">訂單狀態：</div>
                                    <div class="order-label"><span style="color:red">已完成</span></div>

                                    <div class="order-title">下單時間：</div>
                                    <div class="order-label">2016-01-01</div>

                                    <div class="order-title">完成時間：</div>
                                    <div class="order-label">2016-06-01</div>
                                    <button type="submit" class="btn btn-primary btn-h-large">私信商家</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>		
                        </div>
                    </div>
                </div>
            </template>
        </md-tab>
        </md-tab-group>
    </div>
    <!-- / content-inner -->
</div>