<div id="content">
    <div class="content-inner">
        <form action="/user/saveProfile" method="post" id="profile" class="form form-profile" novalidate="novalidate">
            <div class="form-item">
                <label class="form-label">舊密碼</label>
                <div class="form-cont">
                    <input type="text" name="realname" class="txt input-large" value="">
                </div>
            </div>
            <div class="form-item">
                <label class="form-label">新密碼</label>
                <div class="form-cont">
                    <input type="text" name="nickname" class="txt input-large" value="">
                </div>
            </div>
            <div class="form-item">
                <label class="form-label">新密碼確認</label>
                <div class="form-cont">
                    <input type="text" name="nickname" class="txt input-large" value="">
                </div>
            </div>
            <div class="form-item">
                <div class="form-cont">
                    <button type="submit" class="btn btn-primary btn-h-large input-large">保 存</button>
                </div>
            </div>
        </form>
    </div>
    <!-- / content-inner -->
</div>