<div id="content">
    <div class="content-inner">
        <div id="crumbs">
            <strong>您的位置：</strong>
            <ol class="crumbs">
                <li><a [routerLink]="['/center']" routerLinkActive="active">个人中心</a></li>
                <li class="current">></li>
                <li><a [routerLink]="['/center/company']" routerLinkActive="active">安全设置</a></li>
                <li class="current">></li>
                <li class="current">個人資料</li>
            </ol>
            <span class="cart-tip">帮您完成商品管理，上传更便捷，更简单！
                <!--<a href="//service.taobao.com/support/help-11746.htm?spm=a1z0d.1.0.0.ogEwpx" target="_blank" data-spm-anchor-id="a1z0d.1.0.0">如何使用购物车</a>-->
            </span>
        </div>
        <div class="W_tips tips_warn clearfix">
            <p class="txt">为保障您的帐号安全，修改密码前请填写原密码</p>
            <!-- <a class="form_help" href="http://help.weibo.com/faq/q/225" target="_blank">帮助</a></p> -->
        </div>
        <ul class="form_list">
            <li class="item">
                <span class="tit">原密碼：</span>
                <input [(ngModel)]="old_password" id="passwordInput" type="password" class="W_input" value="" placeholder="请输入原密码">
            </li>
            <li class="item">
                <span class="tit">新密碼：</span>
                <input [(ngModel)]="password" id="passwordInput" type="password" class="W_input" value="" placeholder="请输入原密码">
            </li>
            <li class="item">
                <span class="tit">確認新密碼：</span>
                <input [(ngModel)]="password_confirmation" id="passwordInput" type="password" class="W_input" value="" placeholder="请输入原密码">
            </li>
        </ul>        
        <ul class="quesa_mod S_line2">
            <li class="question_mod S_txt2" id="question_mod_a"><a class="S_txt2"><span class="icon_ques"></span>修改密码不记得原密码时怎么办？</a></li>
            <li class="answer_mod S_txt2" id="answer_mod_a"><span class="icon_answ"></span>如果您修改密码时不记得原密码，建议您通过
                <a href="https://security.weibo.com/iforgot/loginname?entry=weibo">找回密码 </a>的方式来完成修改密码！</li>
        </ul>
        <div class="form_btn S_line2">
            <a (click)="update()" id="subBtn" class="W_btn_a btn_34px">下一步</a>
        </div>

    </div>
    <!-- / content-inner -->
</div>