<div class="container">
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
  <h1>創派</h1>
  <div class="header">
    <div class="header-top-left">
      <ul>
        <li><a href="">首頁</a></li>
        <li><a href="">創業服務庫</a></li>
        <li><a href="">創業社群</a></li>
        <li><a href="">創業活動</a></li>			
      </ul>
    </div>
    <div class="header-top-right">
        <ul>
          <li><a href="">商家進駐</a></li>
          <li><a href="">聯繫客服</a></li>
          <li><a href="">登錄</a></li>
          <li><a href="">註冊</a></li>			
        </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <hr style="margin-top:10px">
  
  
  <router-outlet></router-outlet>
</div>