<div class="activity-category-container">
    <div class="activity-category-group">
        <div class="header">活動分類:</div>
        <ul>
            <li (click)="onAll()"><a  [style.color]="category_id? '#3e433e': '#ea5514'" style="cursor: pointer">全部</a></li>
            <li *ngFor="let category of categories" (click)="onCategory(category)"><a [style.color]="category_id!=category.id? '#3e433e': '#ea5514'">{{category.name}}</a></li>
        </ul>
    </div>
    <!--<div class="activity-category-group">
        <div class="header">活動地點:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">香港</a></li>
            <li><a href="">澳門</a></li>
            <li><a href="">廣州</a></li>
            <li><a href="">中山</a></li>
            <li><a href="">惠州</a></li>
            <li><a href="">珠海</a></li>
            <li><a href="">東莞</a></li>
            <li><a href="">其他</a></li>			
        </ul>
    </div>
    <div class="activity-category-group">
        <div class="header">活動費用:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li><a href="">免費</a></li>
            <li><a href="">0﹣50元</a></li>
            <li><a href="">50﹣100元</a></li>
            <li><a href="">100﹣200元</a></li>
            <li><a href="">200﹣500元</a></li>
            <li><a href="">500以上</a></li>		
        </ul>
    </div>
    <div class="activity-category-group">
        <div class="header">活動時間:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li><a href="">今天</a></li>
            <li><a href="">0﹣3天</a></li>
            <li><a href="">本週內</a></li>
            <li><a href="">一月內</a></li>	
            <li><a href="">三月內</a></li>	
            <li><a href="">半年內</a></li>	
            <li><a href="">其他</a></li>			
        </ul>
    </div>-->
</div>
<div class="activity-aside">
    <button type="submit" class="btn btn-primary btn-h-large" (click)="createEvent()">我要登記我的活動</button>
</div>
<div *ngIf="events" class="activity-list" style="margin-top:40px;min-height: 500px">
    <div class="activity-item card" (click)='openActivityDetailModal(event)' *ngFor="let event of events">
        <!--<a class="cbp-vm-image" [routerLink]="['/products/1']" routerLinkActive="active">-->
        <div class="item-activity-image">
            <img [src]="event.icon" style="max-width: 100%; max-height: 100%;" alt=""/>
        </div>
        <div class="item-activity-details">
            <div class="activity">
                <div class="item-activity-details-name">
                    {{event.title}}
                </div>
                <div class="item-activity-details-intro-title">活动简介：</div>
                <div class="item-activity-details-intro">{{event.introduction}}</div>
                <div class="item-activity-details-type">{{event.date_str}}</div>
                <div class="item-activity-details-address">{{event.address}}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div *ngIf="events" class="products-list-footer">
        <hr>
        <div class="products-pages-container">
            <a (click)="onPreviousPage()"> 上一頁 </a>| 
            <span style="padding: 0 10px 0 10px;">第 {{current_page}}  頁，共 {{pages}} 頁</span>|
            <a (click)="onNextPage()"> 下一頁 </a>
        </div>  
    </div>
</div>
<span defaultOverlayTarget></span>


<!-- The Modal -->
<div id="activityDetailModal" class="activity-modal">
    
  <!-- Modal content -->
  <div *ngIf="selectedActivity" class="activity-modal-content">
    <span class="close" (click)="closeActivityDetailModal()">&times;</span>
    <div style="margin-top: 20px;">
        <div class="container" style="width: 100%;">

        <div class="row">

            <div class="col-md-12">
                <aside class="sidebar">
                
                    <div class="item-activity-details" style="width: 100%">
                        <div class="activity">
                            <div class="item-activity-details-title">
                                {{selectedActivity.title}}
                            </div>
                            <!--<div class="item-activity-details-name">
                                社群類型：
                            </div>
                            <div class="item-activity-details-form">
                                {{selectedActivity.title}}
                            </div>-->
                            <div class="item-activity-details-name">
                                活动简介：
                            </div>
                            <div class="item-activity-details-form">
                                {{selectedActivity.introduction}}
                            </div>
                            <div class="item-activity-details-name">
                                活動時間
                            </div>
                            <div class="item-activity-details-form">
                                {{selectedActivity.date_str}}
                            </div>
                            <div class="item-activity-details-name">
                                活動地點
                            </div>
                            <div class="item-activity-details-form">
                                {{selectedActivity.address}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                
                
                    
                </aside>
            </div>
            <!--<div class="col-md-5">
                <div class="image-upload">
                    <img [src]="selectedActivity.icon"/>
                </div>
                <div class="image-upload-note">
                    <div class="item-activity-details-name">
                        活动图片
                    </div>
                </div>
            </div>-->
        </div>
        </div>
    </div>
  </div>

</div>