.activity-category-container{
    float: left;
	width: 70%;
	height: 50px;
	border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
}

.activity-category-group .header{
	float: left;
	margin-left: 20px;
	height: 45px;
	line-height: 45px;
	font-size: 12px;
	color: #999;
}

.activity-category-group{
    float: left;
	width: 100%;
	height: 45px;
}

.activity-category-group ul li {
    display: inline-block;
	margin-left:15px;
    height: 45px;
	line-height: 45px;
}

.activity-category-group a{
    color: black;
    font-size: 12px;
    cursor: pointer;
}

.activity-category-group .all{
	/*background-color: lightsalmon;*/
	border-width: 1px;
    border-color: darkorange;
    border-style: solid;
	border-radius: 2px;
	color: darkorange;
	width: 60px;
}

.activity-category-group a:hover{
    color: orange;
}

.activity-aside{
    float: right;
    width: 30%;
    height: 50px;
}
.activity-aside .btn-primary {
    float: right;
    background: #ea5514;
    border-color: #ea5514;
    color: #fff;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    margin-top: 6px;
}


.activity-item{
	margin-top: 10px;
    display: inline-block;
    width:49%;
    background-color: white;
    border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
    margin-right: 1%;
    cursor: pointer;
}

.activity-item:hover {
    border-color: #ea5514;
}

.item-activity-image{
	float: left;
    margin: 10px;
	height: 200px;
	width: 200px;
}

.item-activity-details{
	float: left;
    margin: 10px;
	width: 300px;
}

.item-activity-details-name{
    font-family: OpenSans-Bold;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.1px;
	text-align: left;
	color: #000000;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-activity-details-intro-title{
    font-family: OpenSans;
	font-size: 12px;
	letter-spacing: 0.1px;
}

.item-activity-details-intro{
    font-family: OpenSans;
	font-size: 12px;
	letter-spacing: 0.1px;
    line-height: 1.5em;
    height: 4.5em;       /* height is 2x line-height, so two lines will display */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-activity-details-type{
    margin-top: 20px;
    font-family: OpenSans;
	font-size: 12px;
	letter-spacing: 0.1px;
}

.item-activity-details-address{
    font-family: OpenSans;
	font-size: 12px;
	letter-spacing: 0.1px;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.screen-item {
    display: table;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.screen-item .screen-left {
    display: table-cell;
    width: 80px;
    line-height: 24px;
    vertical-align: top;
}

.screen-item .screen-left h3 {
    color: #ea5514;
	font-size: 100%;
    font-weight: 500;
}

.screen-item .screen-right {
    display: table-cell;
}

.first-screen{
	list-style: none;
}

.screen-item .screen-right .first-screen li, .screen-item .screen-right .second-screen li {
    float: left;
    margin-right: 20px;
}

.screen-item .screen-right .first-screen li a, .screen-item .screen-right .second-screen li a {
    display: inline-block;
    padding: 0 10px;
}

.screen-item .screen-right .first-screen a {
    height: 24px;
    line-height: 24px;
	color: black;
	text-decoration: none;
}


.products-list-footer{
    width: 100%;
    height: 50px;
    background-color: white;
}

.products-pages-container{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3e433e;
}

.products-pages-container a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3e433e;
    cursor: pointer;
}