<div class="activity-category-container">
    <div class="activity-category-group">
        <div *ngIf="categories" class="header">社群分類:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li *ngFor="let category of categories"><a href="">{{category.name}}</a></li>
        </ul>
    </div>
    <div class="activity-category-group">
        <div class="header">活動地點:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">香港</a></li>
            <li><a href="">澳門</a></li>
            <li><a href="">廣州</a></li>
            <li><a href="">中山</a></li>
            <li><a href="">惠州</a></li>
            <li><a href="">珠海</a></li>
            <li><a href="">東莞</a></li>
            <li><a href="">其他</a></li>			
        </ul>
    </div>
    <div class="activity-category-group">
        <div class="header">活動費用:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li><a href="">免費</a></li>
            <li><a href="">0﹣50元</a></li>
            <li><a href="">50﹣100元</a></li>
            <li><a href="">100﹣200元</a></li>
            <li><a href="">200﹣500元</a></li>
            <li><a href="">500以上</a></li>		
        </ul>
    </div>
    <div class="activity-category-group">
        <div class="header">活動時間:</div>
        <ul>
            <li><a href=""><span class="all">全部</span></a></li>
            <li><a href="">今天</a></li>
            <li><a href="">0﹣3天</a></li>
            <li><a href="">本週內</a></li>
            <li><a href="">一月內</a></li>	
            <li><a href="">三月內</a></li>	
            <li><a href="">半年內</a></li>	
            <li><a href="">其他</a></li>			
        </ul>
    </div>
</div>
<div class="group-aside">
    <button type="submit" class="btn btn-primary btn-h-large" (click)="createGroup()">我要登記我的創業社群</button>
</div>
<div *ngIf="groups" class="group-list" style="width:70%">
    <div class="groups-list-item" (click)='openGroupDetailModal(group)' *ngFor="let group of groups">
        <!--<a class="cbp-vm-image" [routerLink]="['/products/1']" routerLinkActive="active">-->
        <div class="group-image">
            <!--<img *ngIf='product.product_images.length>0' [src]="products[0].product_images[0].image_medium_url"  style=""  alt=""/>-->
            <img [src]="group.icon"  style=""  alt=""/>	
            <div class="overlay">
                <div class="text">{{group.title}}</div>
            </div>
        </div>
        <div class="group_container" style="margin-top:10px;">
            <div class="group-name">{{group.title}}</div>
            <div class="group-category">{{group.group_category.name}}</div>
            <div class="clearfix"></div>
        </div>	
    </div>
</div>
<span defaultOverlayTarget></span>
<!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="groupDetailModal" class="group-modal">

  <!-- Modal content -->
  <div *ngIf="selectedGroup" class="group-modal-content">
    <span class="close" (click)="closeGroupDetailModal()">&times;</span>
    <div class="activity-item">
        <div class="item-activity-details">
            <div class="activity">
                <div class="item-activity-details-title">
                    {{selectedGroup.title}}
                </div>
                <div class="item-activity-details-name">
                    社群類型：
                </div>
                <div class="item-activity-details-form">
                    {{selectedGroup.group_category.name}}
                </div>
                <div class="item-activity-details-name">
                    社群介紹：
                </div>
                <div class="item-activity-details-form">
                    {{selectedGroup.description}}
                </div>
                <div class="item-activity-details-name">
                    社群加入規章：
                </div>
                <div class="item-activity-details-form">
                    {{selectedGroup.regulation}}
                </div>
                <div class="item-activity-details-name">
                    社群聯繫方式：
                </div>
                <div class="item-activity-details-form">
                    {{selectedGroup.contact}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="image-upload">
            <img [src]="selectedGroup.icon"/>
        </div>
        <div class="image-upload-note">
            <div class="item-activity-details-name">
                群主題圖片或Logo
            </div>
        </div>
        <div class="image-upload">
            <img [src]="selectedGroup.qr_code"/>
        </div>
        <div class="image-upload-note">
            <div class="item-activity-details-name">
                二維碼
            </div>
        </div>
    </div>
  </div>

</div>