<div class="activity-category-container">
    <div class="activity-category-group">
        <div class="header">資訊分類:</div>
        <ul *ngIf="categories">
            <li (click)="onAll()"><a [style.color]="category_id? '#3e433e': '#ea5514'">全部</a></li>
            <li *ngFor="let category of categories" (click)="onCategory(category)"><a [style.color]="category_id!=category.id? '#3e433e': '#ea5514'">{{category.name}}</a></li>
        </ul>
    </div>
    
</div>
<div class="article-list" style="margin-top:40px;min-height: 500px">
    <div class="article-item card" (click)='gotoArticleDetail(article)' *ngFor="let article of articles">
        <!--<a class="cbp-vm-image" [routerLink]="['/products/1']" routerLinkActive="active">-->
        <div class="item-article-image">
            <img [src]="article.icon" alt=""/>
        </div>
        <div class="item-article-details">
            <div class="article">
                <div class="item-article-details-name">
                    {{article.title}}
                </div>
                <div class="item-article-details-intro-title">By {{article.publisher}}</div>
                <div class="item-article-details-date">{{article.publish_date_str}}</div>
                <div class="item-article-details-type">{{article.article_category.name}}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>



    <div *ngIf="articles" class="products-list-footer">
        <hr>
        <div class="products-pages-container">
            <a (click)="onPreviousPage()"> 上一頁 </a>| 
            <span style="padding: 0 10px 0 10px;">第 {{current_page}}  頁，共 {{pages}} 頁</span>|
            <a (click)="onNextPage()"> 下一頁 </a>
        </div>  
    </div>
</div>