.activity-category-container{
	width: 70%;
	height: 50px;
	border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
}

.activity-category-group .header{
	float: left;
	margin-left: 20px;
	height: 45px;
	line-height: 45px;
	font-size: 12px;
	color: #999;
}

.activity-category-group{
    float: left;
	width: 100%;
	height: 45px;
}

.activity-category-group ul li {
    display: inline-block;
	margin-left:15px;
    height: 45px;
	line-height: 45px;
}

.activity-category-group a{
    color: black;
    font-size: 12px;
    cursor: pointer;
}

.activity-category-group .all{
	/*background-color: lightsalmon;*/
	border-width: 1px;
    border-color: darkorange;
    border-style: solid;
	border-radius: 2px;
	color: darkorange;
	width: 60px;
}

.activity-category-group a:hover{
    color: orange;
}


.article-item{
	margin-top: 10px;
    display: inline-block;
    width:70%;
    background-color: white;
    border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
}

.article-item:hover {
   border-color: #ea5514;
   cursor: pointer;
}

.item-article-image{
	float: left;
	height: 120px;
	width: 200px;
}

.item-article-image img{
  object-fit: cover;
  object-position: center;
	height: 100px;
	width: 180px;
  margin: 10px;
}

.item-article-details{
    float: left;
    position: relative;
    margin: 10px;
	width: 480px;
    height: 100px;
}

.item-article-details-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    line-height: 1.5em;
    max-height: 3em;       /* height is 2x line-height, so two lines will display */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-item:hover .item-article-details-name{
   color: #ea5514;
}

.item-article-details-intro-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #aab6aa;
}

.item-article-details-intro{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    line-height: 1.5em;
    height: 1.5em;       /* height is 2x line-height, so two lines will display */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-article-details-date{
    position: absolute;
    bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #aab6aa;
	font-size: 12px;
	letter-spacing: 0.1px;
    width: 120px;
}

.item-article-details-type{
    position: absolute;
    left: 130px;
    bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #3e433e;
	font-size: 12px;
	letter-spacing: 0.1px;
}


.screen-item {
    display: table;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.screen-item .screen-left {
    display: table-cell;
    width: 80px;
    line-height: 24px;
    vertical-align: top;
}

.screen-item .screen-left h3 {
    color: #ea5514;
	font-size: 100%;
    font-weight: 500;
}

.screen-item .screen-right {
    display: table-cell;
}

.first-screen{
	list-style: none;
}

.screen-item .screen-right .first-screen li, .screen-item .screen-right .second-screen li {
    float: left;
    margin-right: 20px;
}

.screen-item .screen-right .first-screen li a, .screen-item .screen-right .second-screen li a {
    display: inline-block;
    padding: 0 10px;
}

.screen-item .screen-right .first-screen a {
    height: 24px;
    line-height: 24px;
	color: black;
	text-decoration: none;
}



.products-list-footer{
    width: 100%;
    height: 50px;
    background-color: white;
}

.products-pages-container{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3e433e;
}

.products-pages-container a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3e433e;
    cursor: pointer;
}