<div class="activity-category-container">
    <div class="activity-category-group">
        <div class="header">資訊分類:</div>
        <ul *ngIf="categories">
            <li><a class="all" href="">全部</a></li>
            <li *ngFor="let category of categories"><a href="">{{category.name}}</a></li>
        </ul>
    </div>
    
</div>
<div class="article-list" style="margin-top:40px;min-height: 500px">
    <div class="article-item card" (click)='gotoArticleDetail(article)' *ngFor="let article of articles">
        <!--<a class="cbp-vm-image" [routerLink]="['/products/1']" routerLinkActive="active">-->
        <div class="item-article-image">
            <img [src]="article.icon" alt=""/>
        </div>
        <div class="item-article-details">
            <div class="article">
                <div class="item-article-details-name">
                    {{article.title}}
                </div>
                <div class="item-article-details-intro-title">By {{article.publisher}}</div>
                <div class="item-article-details-date">{{article.publish_date_str}}</div>
                <div class="item-article-details-type">{{article.article_category.name}}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>