<ng2-slim-loading-bar></ng2-slim-loading-bar>
<div class="container">
    <div class="header" style="margin-top: 20px">
        <img src="/assets/img/logo59.png" alt="">
        <div class="header-top-left">
        <ul>
            <li></li>
            <li><a href="">首頁</a></li>
            <li><a [routerLink]="['/news']" routerLinkActive="active">創業資訊</a></li>	
            <!--<li><a [routerLink]="['/products']" routerLinkActive="active">創業服務庫</a></li>-->
            <li><a [routerLink]="['/group']" routerLinkActive="active">創業社群</a></li>
            <li><a [routerLink]="['/activity']" routerLinkActive="active">創業活動</a></li>			
        </ul>
        </div>
        <div class="header-top-right">
            <ul>
            <li><a href="">商家進駐</a></li>
            <li><a href="">聯繫客服</a></li>
            <li *ngIf="_auth.isAuthenticated()">
                <div (click)="$event.preventDefault()">
                    <span dropdown (onToggle)="toggled($event)">
                        <a href id="simple-dropdown" dropdownToggle>
                        {{ _auth.currentUid() }}
                        </a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/center']" routerLinkActive="active">我的賬戶</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="logout()">登出</a></li>
                        </ul>
                    </span>
                </div>
            </li>
            <!--<li *ngIf="_auth.isAuthenticated()"><a [routerLink]="['/center']" routerLinkActive="active">{{ _auth.currentUid() }}</a></li>-->
            <li *ngIf="!_auth.isAuthenticated()"><a [routerLink]="['/login']" routerLinkActive="active">登錄</a></li>
            <li *ngIf="!_auth.isAuthenticated()"><a [routerLink]="['/register']" routerLinkActive="active">註冊</a></li>			
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <hr style="margin-top:10px">
</div>


<div class="container">
  <router-outlet></router-outlet>
  <footer id="footer" style="padding: 50px 0 0;">
    <div class="layout-inner">
        <div class="col-md-3">
            <a [routerLink]="['/']" routerLinkActive="active">
                <img style="margin-left: 80px" class="img-responsive logo" width="150" src="/assets/images/logo_footer_white.png">
            </a>
            <p style="margin-left: 100px">創業立派，始於創派</p>
        </div>
        <div class="col-md-4">
            <div class="links">
                <a [routerLink]="['/privacy']" routerLinkActive="active">私隱政策</a>
                <a [routerLink]="['/terms']" routerLinkActive="active">法律聲明</a>
                <a [routerLink]="['/contact']" routerLinkActive="active">聯繫我們</a>
                <a [routerLink]="['/about']" routerLinkActive="active">關於我們</a>
            </div>
        </div>
        <div class="col-md-5">
            <p style="font-size: 20px;color: #ea5514;">創派業務合作</p>
            <p style="font-size: 12px;color: white">歡迎新聞投稿，市場BD，企業進駐及媒體，品牌，活動，推廣等合作</p>

            <div class="newsletter">

                
                <div class="input-group" style="float: left;margin-top: 10px;">
                    <input [(ngModel)]='company_name' class="form-control" placeholder="公司名稱" type="text">
                </div>
                <div class="input-group" style="float: left;margin-top: 10px;margin-left: 10px;">
                    <input [(ngModel)]='contact' class="form-control" placeholder="郵箱/電話" type="text">
                </div>
                <div class="input-group" style="float: left;margin-top: 10px;width: 280px;">
                    <input [(ngModel)]='message' class="form-control" placeholder="留言" type="text">
                </div>
                <div class="input-group" style="float: left;margin-top: 10px;margin-left: 10px;">
                    
                    <button class="btn btn-primary btn-h-large" (click)="createBusinessCooperator()">提&nbsp;&nbsp;&nbsp;交</button>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright" style="margin: 30px 0; text-align: center">
                    <span>©2017 STARTUP PI, Inc. All Rights Reserved.</span>
                </p>
            </div>
        </div>
        <!--<div class="inner">

            
            <div class="footer-qrcode">
                <a href="/appDownload"><img src="/assets/images/Dragonite.png" alt=""></a>
            </div>
            <div class="footer-info">
                <div class="contact">
                </div>
                <div class="links">
                    <a [routerLink]="['/privacy']" routerLinkActive="active">私隱政策</a>
                    <a [routerLink]="['/terms']" routerLinkActive="active">法律聲明</a>
                    <a [routerLink]="['/contact']" routerLinkActive="active">聯繫我們</a>
                    <a [routerLink]="['/about']" routerLinkActive="active">關於我們</a>
                </div>
                <p class="copyright">
                    <span>©2017 STARTUP PI, Inc. All Rights Reserved.</span>
                </p>
            </div>
        </div>-->
    </div>
  </footer>

</div>

<kendo-dialog [title]="alertTitle" *ngIf="opened" (close)="close()">
    <p>{{ alertDetail }}</p>

    <kendo-dialog-actions>
        <button kendoButton (click)="close()" [primary]="true">好</button>
    </kendo-dialog-actions>
</kendo-dialog>