@font-face {
    font-family: 'OpenSans-Bold'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-BoldItalic'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-BoldItalic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-ExtraBold'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-ExtraBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-ExtraBoldItalic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-Italic'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-Italic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-Light'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-Light.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-LightItalic'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-LightItalic.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-Regular'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-Semibold'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-Semibold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic'; /*a name to be used later*/
    src: url('/Fonts/OpenSans-SemiboldItalic.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'PingFang SC Regular';
    src: url('/assets/font/PingFang-SC-Regular.ttf');
}


@font-face {
    font-family: 'PingFang SC Bold';
    src: url('/assets/font/PingFang-Bold.ttf');
}

h4, h5, h6,
h1, h2, h3 {
	font-family: 'PingFang SC Regular';
	}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}
ul, ol {
	margin: 0;
	font-family: 'PingFang SC Regular';
	list-style: none;
    margin: 0;
    padding: 0;
}
p {margin: 0;}
html, body{
	font-family: 'PingFang SC Regular';
    background: white;
	font-size: 100%;
}

.container{
	width: 1200px;
    background: white;
}

.header-top-left{
    float: left;
    line-height: 40px;
}
.header-top-left ul li {
    display: inline-block;
	margin-right:15px;
}

.header img{
    float: left;
    object-fit: cover;
    object-position: center;
    width: 88px;
    height: 40px;
}

.header-top-left a{
    color: black;
    font-size: 14px;
}

.header-top-left a:hover{
    color: orange;
}

.header-top-right{
    float: right;
    line-height: 40px;
}

.header-top-right ul li{
    display: inline-block;
	margin-left:15px;
}

.header-top-right a{
    color: black;
    font-size: 14px;
}

.header-top-right a:hover{
    color: orange;
}

#footer {
    float: left;
    width: 100%;
    margin-top: 20px;
    min-height: 15.125rem;
    background: linear-gradient(#313131 0,#313131 142px,#2c2c2c 143px,#2c2c2c 100%);
    color: #999;
}

#footer .layout-inner {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}
.layout-inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#footer .inner {
    height: 15.125rem;
    margin-left: 23.4375rem;
}

#footer .footer-qrcode {
    float: left;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 15.5rem;
    height: 100%;
    margin-left: -20.5rem;
}

#footer .footer-qrcode img{
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
}

#footer .footer-info {
    float: right;
    width: 100%;
}

#footer .footer-info .contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 8.875rem;
    margin-bottom: .9375rem;
    padding-bottom: 1.375rem;
}

#footer .footer-info .img-wrap img{
    object-fit: cover;
    object-position: center;
    width: 180px;
    height: 70px;
}

#footer .footer-info .contact .join {
    width: 13.75rem;
    margin-right: 2.5rem;
    color: #c5c5c5;
    font-size: 1.875rem;
    text-align: center;
}

#footer .footer-info .contact .btn-join {
    display: block;
    width: 11.5rem;
    height: 2.5rem;
    margin: 0 auto 5px;
    border: .125rem solid #ea5514;
    border-radius: .3125rem;
    color: #ea5514;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

#footer .links {
    margin-bottom: 1.125rem;
    font-size: 1rem;
}

#footer .links a {
    margin-right: 1.875rem;
}
#footer a {
    color: #fff;
}

:host .slim-loading-bar-progress{
	height:4px !important;
	color: #ea5514 !important;
	background-color: #ea5514 !important;
}

.fc-event{
	border: 1px solid #ea5514 !important;
    background-color: #ea5514 !important;
}

.fc-left{
    color: white !important;
}

md-ink-bar{
    background-color: #ea5514 !important;
}

.md-tab-header{
    background-color: white !important;
}

.md-tab-label{
    background-color: white !important;
}

.md-tab-label:focus{
    background-color: rgba(234, 85, 20, 0.2) !important;
}

.ui-state-hover{
    background-color: rgba(234, 85, 20, 0.5) !important;
}

.ui-state-active{
    background-color: rgba(234, 85, 20, 1) !important;
}

.ui-state-highlight{
    background-color: rgba(234, 85, 20, 1) !important;
}

.ui-datatable{
    font-size: 14px !important;
}

.ui-widget-header{
    background-color: #fafafa !important;
    background: #fafafa !important;
}

th.ui-state-default{
    background: #fafafa !important;
}


#crumbs {
    overflow: hidden;
    zoom: 1;
    color: #000;
    padding: 12px 0 12px 15px;
    font-size: 8px;
    border: 1px dashed #e0e0e0;
    background: #fafafa;
    margin-bottom: 15px;
}

#crumbs a, #empty a {
    color: #36C;
    text-decoration: none;
}

#crumbs strong {
    float: left;
    font-weight: 400;
}

.crumbs {
    float: left;
    margin-left: -5px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.crumbs .current {
    background: 0 0;
}
.crumbs li {
    float: left;
    padding: 0 0 0 5px;
}

#crumbs span.cart-tip {
    float: right;
    color: gray;
}