<div class="content-container">
    <h1 style="width: 100%;text-align: center">私隱政策</h1>
    <h3>私隱政策的適用範圍</h3>
    <p>私隱政策內容涵蓋startuppi.com（Startup Pi創派）如何處理收集或接收的個人資料，包括有關用戶瀏覽Startup Pi創派及使用本網站服務的資料。個人資料指可識別你身分的資料(如你的名字、地址、電郵地址或電話號碼)，及一般非公開的資料。</p>
    <p>私隱政策不適用於並非由Startup Pi創派擁有或控制的公司政策，也不適用於並非由Startup Pi創派聘用或管理的人士。</p>
    <h3>資料收集及運用</h3>
    <p>在你登記領取Startup Pi創派帳戶、使用Startup Pi創派服務、瀏覽Startup Pi創派或某些Startup Pi創派商業夥伴的網頁或參加推廣計劃或有獎遊戲時，均會收集你的個人資料。Startup Pi創派可以將你的個人資料與從商業夥伴或其他公司取得的資料結合。</p>
    <p>當你在Startup Pi創派登記時，我們會問及你的姓名、電郵地址、出生日期、性別、職位、行業及個人興趣等；涉及某些Startup Pi創派服務時，我們可能會問及你的其他個人資料， 例如電話號碼、地址、身份証號碼及與你資產有關的資料。你成功在Startup Pi創派登記，並登入使用我們的服務後，我們便會知悉你的身份。</p>
    <p>Startup Pi創派會自動從你瀏覽器上，接收並紀錄伺服器數值，包括互聯網協定位址 (IP地址)、Startup Pi創派 cookie中的資料及你要求取讀的網頁紀錄。</p>
    <p>Startup Pi創派會使用資料作以下一般用途：提供更適合你的廣告及網頁內容、為你提供你所要求的產品或服務、改善我們的服務、聯絡你、進行研究調查，及為公司或客戶提供不記名報告。</p>
    <h3>資訊共享及披露</h3>
    <p>Startup Pi創派不會租用、出售、或透露你的個人資料予他人或非附屬公司，除非已得到你的同意，或為向你提供你所要求的產品或服務、或在下列的情況下：</p>
    <p>(1) 我們將資料提供予有誠信的或與Startup Pi創派有保密協定的合作夥伴；這些公司可能會用你的個人資料通知你有關Startup Pi創派或其夥伴的產品和服務資訊。然而， 這些公司並沒有分享這些資料的獨立權利。</p>
    <p>(2) 我們回應傳票、 法庭傳令、 或法律程序、或為回應、制定或行使我們的法定權利或對索償作出辯護；</p>
    <p>(3) 我們認為有必要分享有關資料以協助調查、 預防、 或就非法活動採取行動、 或就懷疑詐騙、或因事件涉及或威脅到任何人的人身安全、 以及在防止違反Startup Pi創派使用條款或違法之行為。</p>
    <p>(4) 在收到有關方面按個人資料(私隱)條例第58條下提出的要求。</p>
    <p>(5) 如果Startup Pi創派被其他公司收購或與之合併，我們會將您的有關資料移交。在此情況下，Startup Pi創派會在資料移交前通知你，並會受制於另一份私隱條款。</p>
    <p>(6)按照你的設定，Startup Pi創派會於你的Startup Pi創派帳戶資料網頁內刊登你的個人資料，同時，Startup Pi創派亦會於某些情況下展示你的Startup Pi創派帳戶名稱。</p>
    <h3>Cookie</h3>
    <p>Startup Pi創派會到你的電腦設定並取用 cookie 。</p>
    <p>在我們網頁上擺放廣告的公司，Startup Pi創派會容許它們到你的電腦設定並取用cookie。其他公司將根據其自訂的私隱權保護政策，而並非本政策使用其 cookie。其他廣告商或公司是不能提取Startup Pi創派 cookie 的。</p>
    <h3>修改及刪除個人帳戶資料及喜好設定的權利</h3>
    <p>您可隨時修改您的Startup Pi創派帳戶資料。</p>
    <h3>保密和安全</h3>
    <p>我們認為有合理需要與你聯絡為你提供產品或服務或因其他工作關係有合理需要的雇員才可得悉你的個人資料。</p>
    <p>我們有一套實質的、電子化的及程序化的保安措施附合保護個人資料的規定，以保障您的個人資料。</p>
    <h3>取消訂閱電郵</h3>
    <p>Startup Pi創派會發送有關更新、推廣或商業電郵予會員，當會員選擇接收商業或推廣電郵時，每一封電郵亦同時包含「取消訂閱」的功能。如閣下不再希望收到從Startup Pi創派發出的電郵，您可點擊每封電郵底部的「取消訂閱」鏈結，以更新並移除您在電郵數據庫上的個人資料。</p>
    <h3>私隱政策的修訂</h3>
    <p>Startup Pi創派可以不時修訂本私隱政策。如果我們在使用個人資料的規定上作出大修改的話，我們會在網頁上當眼的位置張貼告示，通知你有關修訂。</p>
    <h3>查詢及建議</h3>
    <p>如有任何查詢及建議，歡迎與本公司客戶服務部聯絡。</p>
</div>
